In [1]:
import pandas as pd
# pd.set_option('display.max_rows', 660)

In [5]:
raw=pd.read_excel("./Data to be cleaned from Survey Monkey.xlsx",header=[0,1]);
raw

        Respondent ID       Collector ID          Start Date  \
   Unnamed: 0_level_1 Unnamed: 1_level_1  Unnamed: 2_level_1
0         11334536399          253472247 2020-02-10 11:50:39
1         11334525213          253472247 2020-02-10 11:43:07
2         11334515098          253472247 2020-02-10 11:35:11
3         11334504659          253472247 2020-02-10 11:27:01
4         11334495074          253472247 2020-02-10 11:19:12
..                ...                ...                 ...
95        11317005184          253472247 2020-02-02 22:37:46
96        11316992701          253472247 2020-02-02 22:26:25
97        11316967430          253472247 2020-02-02 21:59:44
98        11316965044          253472247 2020-02-02 21:56:03
99        11316921315          253472247 2020-02-02 21:15:32

              End Date         IP Address      Email Address  \
    Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
0  2020-02-10 12:04:31       83.96.94.213                NaN
1  2020-02-10 11:50:28       83.96.94.213                NaN
2  2020-02-10 11:42:44       83.96.94.213                NaN
3  2020-02-10 11:34:59       83.96.94.213                NaN
4  2020-02-10 11:26:44       83.96.94.213                NaN
..                 ...                ...                ...
95 2020-02-02 22:47:55       188.71.222.3                NaN
96 2020-02-02 22:37:25      37.39.146.119                NaN
97 2020-02-02 22:15:48     188.236.134.32                NaN
98 2020-02-02 22:17:22    188.236.147.111                NaN
99 2020-02-08 15:19:14     78.154.222.191                NaN

           First Name          Last Name      Custom Data 1  \
   Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
0                 NaN                NaN                NaN
1                 NaN                NaN                NaN
2                 NaN                NaN                NaN
3                 NaN                NaN                NaN
4                 NaN                NaN                NaN
..                ...                ...                ...
95                NaN                NaN                NaN
96                NaN                NaN                NaN
97                NaN                NaN                NaN
98                NaN                NaN                NaN
99                NaN                NaN                NaN

   هل تود ان تشارك في برنامج لتنمية التفكير الأبداعي؟  ...  \
                                                  نعم  ...
0                                                 NaN  ...
1                                                 NaN  ...
2                                                 NaN  ...
3                                                 NaN  ...
4                                                 NaN  ...
..                                                ...  ...
95                                                نعم  ...
96                                                NaN  ...
97                                                نعم  ...
98                                                نعم  ...
99                                                نعم  ...

   ليس من المهم بالنسبة لي أن أكون الأفضل                      \
                                      ‎1‎  ‎2‎  ‎3‎  ‎4‎  ‎5‎
0                                     NaN  NaN  NaN  NaN  ‎5‎
1                                     NaN  NaN  ‎3‎  NaN  NaN
2                                     NaN  ‎2‎  NaN  NaN  NaN
3                                     NaN  NaN  ‎3‎  NaN  NaN
4                                     NaN  NaN  ‎3‎  NaN  NaN
..                                    ...  ...  ...  ...  ...
95                                    ‎1‎  NaN  NaN  NaN  NaN
96                                    NaN  ‎2‎  NaN  NaN  NaN
97                                    NaN  NaN  NaN  ‎4‎  NaN
98                                    NaN  ‎2‎  NaN  NaN  NaN
99                                    NaN  NaN  ‎3‎  NaN  NaN

   تدفعني الرغبة في تحقيق أهداف مهمة
                                 ‎1‎  ‎2‎  ‎3‎  ‎4‎  ‎5‎
0                                NaN  NaN  NaN  ‎4‎  NaN
1                                NaN  NaN  ‎3‎  NaN  NaN
2                                NaN  NaN  NaN  NaN  ‎5‎
3                                NaN  NaN  ‎3‎  NaN  NaN
4                                NaN  NaN  ‎3‎  NaN  NaN
..                               ...  ...  ...  ...  ...
95                               NaN  NaN  NaN  ‎4‎  NaN
96                               NaN  NaN  NaN  ‎4‎  NaN
97                               NaN  NaN  NaN  NaN  ‎5‎
98                               NaN  NaN  NaN  NaN  ‎5‎
99                               NaN  NaN  NaN  ‎4‎  NaN

[100 rows x 653 columns]

In [65]:
pd.set_option('display.max_rows', 660)
Y_N=raw.iloc[:,9:11]
Y_N

   هل تود ان تشارك في برنامج لتنمية التفكير الأبداعي؟
                                                  نعم   لأ
0                                                 NaN   لأ
1                                                 NaN   لأ
2                                                 NaN   لأ
3                                                 NaN   لأ
4                                                 NaN   لأ
5                                                 NaN   لأ
6                                                 NaN   لأ
7                                                 NaN   لأ
8                                                 NaN   لأ
9                                                 NaN   لأ
10                                                NaN   لأ
11                                                NaN   لأ
12                                                NaN   لأ
13                                                NaN   لأ
14                                                NaN   لأ
15                                                NaN   لأ
16                                                NaN   لأ
17                                                NaN   لأ
18                                                NaN   لأ
19                                                نعم  NaN
20                                                نعم  NaN
21                                                NaN   لأ
22                                                NaN   لأ
23                                                NaN   لأ
24                                                NaN   لأ
25                                                نعم  NaN
26                                                نعم  NaN
27                                                نعم  NaN
28                                                NaN   لأ
29                                                NaN   لأ
30                                                نعم  NaN
31                                                NaN   لأ
32                                                نعم  NaN
33                                                نعم  NaN
34                                                نعم  NaN
35                                                نعم  NaN
36                                                نعم  NaN
37                                                NaN   لأ
38                                                نعم  NaN
39                                                نعم  NaN
40                                                نعم  NaN
41                                                نعم  NaN
42                                                نعم  NaN
43                                                نعم  NaN
44                                                نعم  NaN
45                                                نعم  NaN
46                                                نعم  NaN
47                                                نعم  NaN
48                                                نعم  NaN
49                                                نعم  NaN
50                                                نعم  NaN
51                                                NaN   لأ
52                                                نعم  NaN
53                                                نعم  NaN
54                                                نعم  NaN
55                                                NaN   لأ
56                                                نعم  NaN
57                                                نعم  NaN
58                                                NaN   لأ
59                                                NaN   لأ
60                                                NaN   لأ
61                                                NaN   لأ
62                                                NaN   لأ
63                                                نعم  NaN
64                                                نعم  NaN
65                                                نعم  NaN
66                                                نعم  NaN
67                                                نعم  NaN
68                                                نعم  NaN
69                                                نعم  NaN
70                                                نعم  NaN
71                                                نعم  NaN
72                                                نعم  NaN
73                                                نعم  NaN
74                                                NaN   لأ
75                                                نعم  NaN
76                                                نعم  NaN
77                                                نعم  NaN
78                                                نعم  NaN
79                                                نعم  NaN
80                                                نعم  NaN
81                                                NaN   لأ
82                                                نعم  NaN
83                                                نعم  NaN
84                                                نعم  NaN
85                                                نعم  NaN
86                                                نعم  NaN
87                                                نعم  NaN
88                                                نعم  NaN
89                                                نعم  NaN
90                                                نعم  NaN
91                                                نعم  NaN
92                                                نعم  NaN
93                                                نعم  NaN
94                                                نعم  NaN
95                                                نعم  NaN
96                                                NaN   لأ
97                                                نعم  NaN
98                                                نعم  NaN
99                                                نعم  NaN

In [70]:
Y_N.replace('لأ','N').replace('نعم','Y')

   هل تود ان تشارك في برنامج لتنمية التفكير الأبداعي؟
                                                  نعم   لأ
0                                                 NaN    N
1                                                 NaN    N
2                                                 NaN    N
3                                                 NaN    N
4                                                 NaN    N
5                                                 NaN    N
6                                                 NaN    N
7                                                 NaN    N
8                                                 NaN    N
9                                                 NaN    N
10                                                NaN    N
11                                                NaN    N
12                                                NaN    N
13                                                NaN    N
14                                                NaN    N
15                                                NaN    N
16                                                NaN    N
17                                                NaN    N
18                                                NaN    N
19                                                  Y  NaN
20                                                  Y  NaN
21                                                NaN    N
22                                                NaN    N
23                                                NaN    N
24                                                NaN    N
25                                                  Y  NaN
26                                                  Y  NaN
27                                                  Y  NaN
28                                                NaN    N
29                                                NaN    N
30                                                  Y  NaN
31                                                NaN    N
32                                                  Y  NaN
33                                                  Y  NaN
34                                                  Y  NaN
35                                                  Y  NaN
36                                                  Y  NaN
37                                                NaN    N
38                                                  Y  NaN
39                                                  Y  NaN
40                                                  Y  NaN
41                                                  Y  NaN
42                                                  Y  NaN
43                                                  Y  NaN
44                                                  Y  NaN
45                                                  Y  NaN
46                                                  Y  NaN
47                                                  Y  NaN
48                                                  Y  NaN
49                                                  Y  NaN
50                                                  Y  NaN
51                                                NaN    N
52                                                  Y  NaN
53                                                  Y  NaN
54                                                  Y  NaN
55                                                NaN    N
56                                                  Y  NaN
57                                                  Y  NaN
58                                                NaN    N
59                                                NaN    N
60                                                NaN    N
61                                                NaN    N
62                                                NaN    N
63                                                  Y  NaN
64                                                  Y  NaN
65                                                  Y  NaN
66                                                  Y  NaN
67                                                  Y  NaN
68                                                  Y  NaN
69                                                  Y  NaN
70                                                  Y  NaN
71                                                  Y  NaN
72                                                  Y  NaN
73                                                  Y  NaN
74                                                NaN    N
75                                                  Y  NaN
76                                                  Y  NaN
77                                                  Y  NaN
78                                                  Y  NaN
79                                                  Y  NaN
80                                                  Y  NaN
81                                                NaN    N
82                                                  Y  NaN
83                                                  Y  NaN
84                                                  Y  NaN
85                                                  Y  NaN
86                                                  Y  NaN
87                                                  Y  NaN
88                                                  Y  NaN
89                                                  Y  NaN
90                                                  Y  NaN
91                                                  Y  NaN
92                                                  Y  NaN
93                                                  Y  NaN
94                                                  Y  NaN
95                                                  Y  NaN
96                                                NaN    N
97                                                  Y  NaN
98                                                  Y  NaN
99                                                  Y  NaN

In [4]:
target=pd.read_excel("./Data to be cleaned from Survey Monkey.xlsx",sheet_name='Target Header');
target

Empty DataFrame
Columns: [Response_ID, Collect_ID, StartDate, EndDate, IPAddress, Email1, FirstName, LastName, Would_Participate, Name, Work, Address1, Address2, City, State, Zip, Country, Email2, Phone, Gendor, Nationality, AgeGrp, University, Specialilzation, Major, MatertialStat, Did_You_Do_Business, Still_In-Buss, What_Buss, How_Is_Buss, Would_You_In_Future, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11, Q12, Q13, Q14, Q15, Q16, Q17, Q18, Q19, Q20, Q21, Q22, Q23, Q24, Q25, Q26, Q27, Q28, Q29, Q30, Q31, Q32, Q33, Q34, Q35, Q36, Q37, Q38, Q39, Q40, Q41, Q42, Q43, Q44, Q45, Q46, Q47, Q48, Q49, Q50, Q51, Q52, Q53, Q54, Q55, Q56, Q57, Q58, Q59, Q60, Q61, Q62, Q63, Q64, Q65, Q66, Q67, Q68, Q69, ...]
Index: []

[0 rows x 153 columns]