In [7]:
# f=open('D:\\Twitter Comments.xlsx',encoding="CP1254")

In [9]:
# f.read()
import pandas as pd

In [11]:
data=pd.read_excel('D:\\Twitter Comments.xlsx')

In [12]:
data

                                                    Text
0      #RETENCIÓN nivel NEGRO en #C37 (pk 20.7 al 42 ...
1      #RETENCIÓN nivel NEGRO en #T201 (pk 6 al 16 am...
2      #VEH_ACCIDENTADO nivel AMARILLO en AUTOPISTA /...
3      #RETENCIÓN nivel NEGRO en #T243 (pk 7 al 12 am...
4      #RETENCIÓN nivel NEGRO en #T224 (pk 2 al 8 amb...
...                                                  ...
29899  RT @albertpaulino4: El hombre que deja un jueg...
29900  RT @packs_mega_2019: 30 RT Y LO PASO\n#publico...
29901  RT @Badromants: Aprovecho el pique que tiene t...
29902  RT @Badromants: Aprovecho el pique que tiene t...
29903  RT @Badromants: Aprovecho el pique que tiene t...

[29904 rows x 1 columns]